.mb-arrow{
  width: 8px;
  height: 8px;
  display: inline-block;
  border-right: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  cursor: pointer;
  position: relative;
  top: -1px;
  &.arrow-right {
  transform: rotate(-45deg);
  }
  &.arrow-bottom {
  transform: rotate(-315deg);
  position: relative;
  top: -2px;
  }
  &.arrow-top {
  transform: rotate(-135deg);
  position: relative;
  top: 2px;
  }
  &.arrow-left {
  transform: rotate(-225deg);
  }
}

