.ns-banner(){
	color:#fff;
	font-size: 15px;
	text-align: center;
	line-height: 38px;
}

.ns-banner-primary{
	.ns-banner();
	background-color:#f0b035;
}

.ns-banner-failed{
	.ns-banner();
	background-color:#c02e11;

}

.ns-banner-success{
	.ns-banner();
	background-color:#65c07a;

}

.ns-banner-disable{
	.ns-banner();
	background-color:#bbbbbb;	
}
