.btn(){
  text-align: center;
  border-radius: 2px;
  font-size: 100%;
  display: inline-block;
  padding: 0;
  min-width:120px;
  max-width:210px;
  box-sizing:border-box;
}


.ns-btn-primary{
  .btn();
  color: #fff;
  background: #f63;
  border: none rgba(0, 0, 0, 0);
}

.ns-btn-white{
  .btn();
  color: #666;
  background: #fff;
  border:solid 1px #bbb;
}

.ns-btn-focus,
.ns-btn:focus {
   background: #f26130;
}

.ns-btn-disable{
   background: #cccccc;
}
.ns-btn-awaiting{
   background: #ffc2ad;
}


.ns-btn-sm{
   font-size:14px;
   height:30px;
}

.ns-btn-md{
   font-size:16px;
   height:35px;
   padding: 0 20px;
}

.ns-btn-lg{
   font-size:18px;
   height:44px;
   border-radius:3px;
   padding: 0 20px;
}
