@import "../base.less";

/**
 *  x Axis
 */





.mb-line{
	//line bottom
	&-b{
		background: url("@{line-image-folder}/repeat-x-bottom.png") 0 bottom repeat-x;
	}
	//line top
	&-t{
		background: url("@{line-image-folder}/repeat-x-top.png") 0 top repeat-x;
	}

	//line top &n button
	&-tb{
		background: url("@{line-image-folder}/repeat-x-top.png") 0 top repeat-x, url("@{line-image-folder}/repeat-x-bottom.png") 0px bottom repeat-x;
	}

	//line left
	&-l{
		background: url("@{line-image-folder}/repeat-y-left.png") left 0 repeat-y;
	}

	//line right
	&-r{
		background: url("@{line-image-folder}/repeat-y-right.png") right 0 repeat-y;
	}

	//line left & right
	&-lr{
		background: url("@{line-image-folder}/repeat-y-left.png") left 0px repeat-y, url("@{line-image-folder}/repeat-y-right.png") right 0px repeat-y;
	}

	//line left & right
	&-all{
		background:  url("@{line-image-folder}/repeat-x-top.png") 0 top repeat-x, url("@{line-image-folder}/repeat-y-right.png") right 0px repeat-y, url("@{line-image-folder}/repeat-x-bottom.png") 0px bottom repeat-x, url("@{line-image-folder}/repeat-y-left.png") left 0px repeat-y;
	}
}


/**
 *  0.5px line in broswer
 */
@media (-webkit-min-device-pixel-ratio: 2) , (-webkit-min-device-pixel-ratio: 3){
	.mb-line{
		&-b,&-t,&-tb,&-l,&-r,&-lr,&-all{
			background-size: 1px 1px;
		}
	}
}



