@import "../base.less";

.mb-select{
  	background: url("@{icon-image}") no-repeat;
  	display: inline-block;
  	width: 36px;
  	height: 35px;
  	vertical-align: middle;
  	background-size: 50px auto;
	&.single-selected{
	background-position: center -63px;
	}
	&.single-unselected{
		background-position: center -109px;
	}
	&.single-disable{
	background-position: center -16px;
	}
	&.mutiple-disable{
	background-position: center -155px;
	}
	&.mutiple-selected{
	background-position: center -202px;
	}
	&.mutiple-unselected{
	background-position: center -250px;
	}
}


