.ns-btn-primary {
  text-align: center;
  border-radius: 2px;
  font-size: 100%;
  display: inline-block;
  padding: 0;
  min-width: 120px;
  max-width: 210px;
  box-sizing: border-box;
  color: #fff;
  background: #f63;
  border: none rgba(0, 0, 0, 0);
}
.ns-btn-white {
  text-align: center;
  border-radius: 2px;
  font-size: 100%;
  display: inline-block;
  padding: 0;
  min-width: 120px;
  max-width: 210px;
  box-sizing: border-box;
  color: #666;
  background: #fff;
  border: solid 1px #bbb;
}
.ns-btn-focus,
.ns-btn:focus {
  background: #f26130;
}
.ns-btn-disable {
  background: #cccccc;
}
.ns-btn-awaiting {
  background: #ffc2ad;
}
.ns-btn-sm {
  font-size: 14px;
  height: 30px;
}
.ns-btn-md {
  font-size: 16px;
  height: 35px;
  padding: 0 20px;
}
.ns-btn-lg {
  font-size: 18px;
  height: 44px;
  border-radius: 3px;
  padding: 0 20px;
}
.ns-arrow {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-right: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  cursor: pointer;
  position: relative;
  top: -1px;
}
.ns-arrow.arrow-right {
  transform: rotate(-45deg);
}
.ns-arrow.arrow-bottom {
  transform: rotate(-315deg);
  position: relative;
  top: -2px;
}
.ns-arrow.arrow-top {
  transform: rotate(-135deg);
  position: relative;
  top: 2px;
}
.ns-arrow.arrow-left {
  transform: rotate(-225deg);
}
.ns-line-b {
  background-image: url(img/repeat-x-bottom.png);
  background-position: 0 bottom;
  background-size: auto 1px;
  background-repeat: repeat-x;
}
.ns-line-t {
  background-image: url(img/repeat-x-top.png);
  background-position: 0 top;
  background-size: auto 1px;
  background-repeat: repeat-x;
}
.ns-line-tb {
  background: url(img/repeat-x-top.png) 0 top repeat-x, url(img/repeat-x-bottom.png) 0px bottom repeat-x;
  background-size: auto 1px;
  background-repeat: repeat-x;
}
.ns-line-l {
  background-image: url(img/repeat-y-left.png);
  background-position: left 0;
  background-size: 1px auto;
  background-repeat: repeat-y;
}
.ns-line-r {
  background-image: url(img/repeat-y-right.png);
  background-position: right 0;
  background-size: 1px auto;
  background-repeat: repeat-y;
}
.ns-line-lr {
  background: url(img/repeat-y-left.png) left 0px repeat-y, url(img/repeat-y-right.png) right 0px repeat-y;
  background-size: 1px auto;
  background-repeat: repeat-y;
}
.ns-rank {
  background: url(img/star.png) no-repeat center;
  background-size: 212px auto;
  display: inline-block;
  width: 81px;
  height: 21px;
  vertical-align: middle;
}
.ns-rank.rank10 {
  width: 86px;
  background-size: 199px auto;
  background-position: -4px -144px;
}
.ns-rank.rank20 {
  width: 86px;
  background-size: 199px auto;
  background-position: -4px -123px;
}
.ns-rank.rank30 {
  width: 86px;
  background-size: 199px auto;
  background-position: -4px -83px;
}
.ns-rank.rank35 {
  width: 86px;
  background-size: 199px auto;
  background-position: -4px -63px;
}
.ns-rank.rank40 {
  width: 86px;
  background-size: 199px auto;
  background-position: -4px -42px;
}
.ns-rank.rank45 {
  width: 86px;
  background-size: 199px auto;
  background-position: -4px -22px;
}
.ns-rank.rank50 {
  width: 86px;
  background-size: 199px auto;
  background-position: -4px -2px;
}
.ns-rank.s-rank10 {
  width: 70px;
  height: 18px;
  background-position: -134px -117px;
}
.ns-rank.s-rank20 {
  width: 70px;
  height: 18px;
  background-position: -134px -100px;
}
.ns-rank.s-rank30 {
  width: 70px;
  height: 18px;
  background-position: -134px -81px;
}
.ns-rank.s-rank35 {
  width: 70px;
  height: 18px;
  background-position: -134px -62px;
}
.ns-rank.s-rank40 {
  width: 70px;
  height: 18px;
  background-position: -134px -43px;
}
.ns-rank.s-rank45 {
  width: 70px;
  height: 18px;
  background-position: -134px -25px;
}
.ns-rank.s-rank50 {
  width: 70px;
  height: 18px;
  background-position: -134px -5px;
}
.ns-rank.b-rank10 {
  width: 192px;
  height: 32px;
  background-size: 195px auto;
  background-position: 3px -296px;
}
.ns-rank.b-rank20 {
  width: 192px;
  height: 32px;
  background-size: 195px auto;
  background-position: 3px -265px;
}
.ns-rank.b-rank30 {
  width: 192px;
  height: 32px;
  background-size: 195px auto;
  background-position: 3px -230px;
}
.ns-rank.b-rank40 {
  width: 192px;
  height: 32px;
  background-size: 195px auto;
  background-position: 3px -200px;
}
.ns-rank.b-rank50 {
  width: 192px;
  height: 32px;
  background-size: 195px auto;
  background-position: 3px -170px;
}
.banner-icon {
  background: url('img/icon.png') no-repeat;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  vertical-align: middle;
  background-size: 30px auto;
}
.banner-icon.proceed-icon {
  background-position: -5px -220px;
}
.banner-icon.failed-icon {
  background-position: -5px -177px;
}
.banner-icon.success-icon {
  background-position: -5px -199px;
}
.ns-banner-primary {
  color: #fff;
  font-size: 15px;
  text-align: center;
  line-height: 38px;
}
.ns-banner-proceed {
  color: #fff;
  font-size: 15px;
  text-align: center;
  line-height: 38px;
  background-color: #f0b035;
}
.ns-banner-failed {
  color: #fff;
  font-size: 15px;
  text-align: center;
  line-height: 38px;
  background-color: #c02e11;
}
.ns-banner-success {
  color: #fff;
  font-size: 15px;
  text-align: center;
  line-height: 38px;
  background-color: #65c07a;
}
.ns-banner-disable {
  color: #fff;
  font-size: 15px;
  text-align: center;
  line-height: 38px;
  background-color: #bbbbbb;
}
.ns-select {
  background: url(img/icon.png) no-repeat;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 5px;
  vertical-align: middle;
  background-size: 50px auto;
}
.ns-select.single-selected {
  background-position: 0px -55px;
}
.ns-select.single-unselected {
  background-position: 0px -101px;
}
.ns-select.single-disable {
  background-position: 0px -8px;
}
.ns-select.mutiple-disable {
  background-position: 0px -146px;
}
.ns-select.mutiple-selected {
  background-position: 0px -194px;
}
.ns-select.mutiple-unselected {
  background-position: 0px -242px;
}
.ns-g {
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  /* IE10 uses display: flexbox */
  display: -ms-flexbox;
  -ms-flex-flow: row wrap;
}
.ns-g-1,
.ns-g-1-1,
.ns-g-1-2,
.ns-g-1-3,
.ns-g-2-3,
.ns-g-1-4,
.ns-g-3-4,
.ns-g-1-5,
.ns-g-2-5,
.ns-g-3-5,
.ns-g-4-5,
.ns-g-5-5,
.ns-g-1-6,
.ns-g-5-6,
.ns-g-1-8,
.ns-g-3-8,
.ns-g-5-8,
.ns-g-7-8,
.ns-g-1-12,
.ns-g-5-12,
.ns-g-7-12,
.ns-g-11-12,
.ns-g-1-24,
.ns-g-2-24,
.ns-g-3-24,
.ns-g-4-24,
.ns-g-5-24,
.ns-g-6-24,
.ns-g-7-24,
.ns-g-8-24,
.ns-g-9-24,
.ns-g-10-24,
.ns-g-11-24,
.ns-g-12-24,
.ns-g-13-24,
.ns-g-14-24,
.ns-g-15-24,
.ns-g-16-24,
.ns-g-17-24,
.ns-g-18-24,
.ns-g-19-24,
.ns-g-20-24,
.ns-g-21-24,
.ns-g-22-24,
.ns-g-23-24,
.ns-g-24-24 {
  display: inline-block;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}
.ns-g-1-24 {
  width: 4.1667%;
}
.ns-g-1-12,
.ns-g-2-24 {
  width: 8.3333%;
}
.ns-g-1-8,
.ns-g-3-24 {
  width: 12.5000%;
}
.ns-g-1-6,
.ns-g-4-24 {
  width: 16.6667%;
}
.ns-g-1-5 {
  width: 20%;
}
.ns-g-5-24 {
  width: 20.8333%;
}
.ns-g-1-4,
.ns-g-6-24 {
  width: 25%;
}
.ns-g-7-24 {
  width: 29.1667%;
}
.ns-g-1-3,
.ns-g-8-24 {
  width: 33.3333%;
}
.ns-g-3-8,
.ns-g-9-24 {
  width: 37.5000%;
}
.ns-g-2-5 {
  width: 40%;
}
.ns-g-5-12,
.ns-g-10-24 {
  width: 41.6667%;
}
.ns-g-11-24 {
  width: 45.8333%;
}
.ns-g-1-2,
.ns-g-12-24 {
  width: 50%;
}
.ns-g-13-24 {
  width: 54.1667%;
}
.ns-g-7-12,
.ns-g-14-24 {
  width: 58.3333%;
}
.ns-g-3-5 {
  width: 60%;
  *width: 59.9690%;
}
.ns-g-5-8,
.ns-g-15-24 {
  width: 62.5000%;
}
.ns-g-2-3,
.ns-g-16-24 {
  width: 66.6667%;
}
.ns-g-17-24 {
  width: 70.8333%;
}
.ns-g-3-4,
.ns-g-18-24 {
  width: 75%;
}
.ns-g-19-24 {
  width: 79.1667%;
}
.ns-g-4-5 {
  width: 80%;
}
.ns-g-5-6,
.ns-g-20-24 {
  width: 83.3333%;
}
.ns-g-7-8,
.ns-g-21-24 {
  width: 87.5000%;
}
.ns-g-11-12,
.ns-g-22-24 {
  width: 91.6667%;
}
.ns-g-23-24 {
  width: 95.8333%;
}
.ns-g-1,
.ns-g-1-1,
.ns-g-5-5,
.ns-g-24-24 {
  width: 100%;
}
.ns-ft12 {
  font-size: 12px;
  line-height: 14px;
}
.ns-ft13 {
  font-size: 13px;
  line-height: 15px;
}
.ns-ft14 {
  font-size: 14px;
  line-height: 16px;
}
.ns-ft15 {
  font-size: 15px;
  line-height: 17px;
}
.ns-ft16 {
  font-size: 16px;
  line-height: 18px;
}
.ns-ft17 {
  font-size: 17px;
  line-height: 19px;
}
.ns-ft18 {
  font-size: 18px;
  line-height: 20px;
}
.ns-ft19 {
  font-size: 19px;
  line-height: 21px;
}
.ns-ft20 {
  font-size: 20px;
  line-height: 22px;
}
.ns-ft21 {
  font-size: 21px;
  line-height: 23px;
}
.ns-ft22 {
  font-size: 22px;
  line-height: 24px;
}
.ns-fl {
  float: left !important;
}
.ns-fr {
  float: right !important;
}
